
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Login</h1>
        </div>
        <div class="col-md-3">
            <div class="form-control">
                <label>Username</label>
                <input type="text"/>
            </div>
            <div class="form-control">
                <label>Password</label>
                <input type="password" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control">
                <button class="btn btn-success">Submit</button>
                <button class="btn btn-danger">Cancle</button>
            </div>
        </div>
        
    </div>
</body>
</html>
